<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.dailytech.site.refresh.evening</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>__SUPPORT_DIR__/dailytech_refresh_check.sh</string>
      <string>evening</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>20</integer>
      <key>Minute</key>
      <integer>20</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/refresh-evening.out.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/refresh-evening.err.log</string>
  </dict>
</plist>
